Django==4.2.*  # Latest LTS version
django-environ
django-extensions>=3.2
requests
psycopg2
{%- if cookiecutter.feature_annotations == "on" %}

####### OPTIONAL FEATURES #######
{%- endif %}
{%- if cookiecutter.elastic_beanstalk == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}
# START_FEATURE elastic_beanstalk
{%- endif %}
ec2_metadata
{%- if cookiecutter.feature_annotations == "on" %}
# END_FEATURE elastic_beanstalk
{%- endif %}
{%- endif %}
{%- if cookiecutter.django_social == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}

# START_FEATURE django_social
{%- endif %}
social-auth-app-django
{%- if cookiecutter.feature_annotations == "on" %}
# END_FEATURE django_social
{%- endif %}
{%- endif %}
{%- if cookiecutter.crispy_forms == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}

# START_FEATURE crispy_forms
{%- endif %}
django-crispy-forms
crispy-bootstrap5
{%- if cookiecutter.feature_annotations == "on" %}
# END_FEATURE crispy_forms
{%- endif %}
{%- endif %}
{%- if cookiecutter.django_react == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}

# START_FEATURE django_react
{%- endif %}
django-react-components
django-webpack-loader==0.7.0
{%- if cookiecutter.feature_annotations == "on" %}
# END_FEATURE django_react
{%- endif %}
{%- endif %}
{%- if cookiecutter.sentry == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}

# START_FEATURE sentry
{%- endif %}
sentry-sdk
{%- if cookiecutter.feature_annotations == "on" %}
# END_FEATURE sentry
{%- endif %}
{%- endif %}
{%- if cookiecutter.django_storages == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}

# START_FEATURE django_storages
{%- endif %}
django-storages
{%- if cookiecutter.feature_annotations == "on" %}
# END_FEATURE django_storages
{%- endif %}
{%- endif %}
{%- if cookiecutter.docker == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}

# START_FEATURE docker
{%- endif %}
gunicorn
{%- if cookiecutter.feature_annotations == "on" %}
# END_FEATURE docker
{%- endif %}
{%- endif %}
{%- if cookiecutter.sentry == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}

{%- endif %}
{%- endif %}
{%- if cookiecutter.django_ses == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}

# START_FEATURE django_ses
{%- endif %}
django-ses
{%- if cookiecutter.feature_annotations == "on" %}
# END_FEATURE django_ses
{%- endif %}
{%- endif %}

{%- if cookiecutter.sass_bootstrap == "enabled" %}
{%- if cookiecutter.feature_annotations == "on" %}

# START_FEATURE sass_bootstrap
{%- endif %}
django-compressor
django-sass-processor
libsass
{%- if cookiecutter.feature_annotations == "on" %}
# END_FEATURE sass_bootstrap
{%- endif %}
{%- endif %}
{%- if cookiecutter.feature_annotations == "on" %}

################################
{%- endif %}

# Convenience
ipython
{%- if cookiecutter.debug_toolbar == "on" %}
django-debug-toolbar
{%- endif %}
