{%- raw -%}
{% extends "base_templates/base.html" %}
{% endraw %}
{%- if cookiecutter.crispy_forms == "enabled" %}
{%- raw %}
{% load crispy_forms_tags %}
{% endraw %}
{%- endif %}
{%- raw %}

{% block title %}{{ form.action_title_formatted }}{% endblock %}

{% block body %}
  <h2>{{ form.action_title_formatted }}</h2>
{%- endraw %}
{%- if cookiecutter.crispy_forms == "enabled" %}
{%- raw %}
  {% crispy form %}
{%- endraw %}
{%- else %}
{%- raw %}
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
  </form>
{%- endraw %}
{%- endif %}
{%- raw %}
{% endblock %}
{%- endraw %}
